<div id="about1" class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <img
        id="img1"
        style="max-width: 100%; height: auto"
        src="/akarsh.jpg"
        class="img-thumbnail"
        alt="Profile Picture"
      />
    </div>
    
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <ul id="details" class="list-unstyled">
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>Date of Birth:</strong>
              <span>02 December 2003</span>
            </li>
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>Phone:</strong>
              <span>6393214690</span>
            </li>
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>City:</strong>
              <span>Lucknow, UP, India</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul id="details1" class="list-unstyled">
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>Age:</strong>
              <span>19</span>
            </li>
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>Degree:</strong>
              <span>B.Tech</span>
            </li>
            <li class="mb-2">
              <i class="bi bi-chevron-right"></i>
              <strong>Email:</strong>
              <span>akarshshukla1202@gmail.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div id="para" class="mt-3">
          <h1>Hi, I'm Akarsh!</h1>
          <p>
            I'm a passionate full-stack developer with a knack for creating seamless user experiences.
            While I excel in frontend development using modern frameworks like ReactJS,
            I'm equally skilled in managing robust backends with <b>PostgreSQL and Express.js</b>.
            As a dedicated freelancer, I specialize in bringing client visions to life, delivering tailored websites that meet their unique needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
